
h4 {
  font-family: 'Lato Light', sans-serif;
}

/* AVISO DE DATAS DO FORMULÁRIO EXTRATO AVANCOINS */
#aviso {
  font-weight: bold;
  margin: 0 0 0 0;
}

/* DESTACANDO TOTAL DE MOEDAS NAS TABELAS DE EXTRATO */
.destaque {
  font-weight: bold;
}

/* DESTACANDO CAMPOS OBRIGATÓRIOS DO FORMULÁRIO DE EXTRATO */
.erro {
  border: 2px solid red;
}

/* ESTILIZANDO TABELAS DE EXTRATO */ 
table tbody tr td {
  font-family: 'Lato Light', sans-serif;
  font-size: 0.90em;
  height: 1.0em;
}

/* ESTILIZANDO TABELA DE AÇÕES ESPORÁDICAS */
.esporadica{
  height: 5.5em;
}

.table tbody tr td {
  vertical-align: middle;
}
