@charset "UTF-8";

body {
  font-family: 'Lato Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato Bold', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

/* retirando marcação de linha dos links*/
a {
  outline: none;
}
