@charset "UTF-8";

#logo {
  position: relative;
  top: -2px;
}

#novo-capa {
  font-family: 'Lato Light', sans-serif;
  position: relative;
  top: -27px;
  padding: 0 0 0 15px;
  margin: 0 0 0 40px;
}

#saudacao {
  margin: 17px 50px 0 0;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar {
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav>li>a {

  padding-left: 0px;
}

.espaco
{
  padding-left: 20px;
}

/*espaçamento da seta do link de user*/
.espacoseta{
  padding-top: 18px;
}

/*espaçamento do icone de user*/
.espacouser
{
  padding-top: 10px;
}

/*espaçamento entre icons*/
.entreicons{
 padding-right:10px;
 padding-left: 10px;
}


