body {
  overflow-x: hidden;
  padding-top: 52px;
}

/* alterando fonte dos itens do menu lateral */
ul li {
  font-family: 'Lato Light', sans-serif;
}

/* posicionando a seta da barra lateral */
i#seta {
  position: relative;
  top: 10px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right-color: #e7e7e7;
  border-right-style: solid;
  border-right-width: 1px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Sidebar Styles */

/*classe do botão da sidebar*/
a{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}



/*alterando espaço fonte awesome*/
.fa{
    display: inline;
}

/*colocando espaço nos submenus*/
p {
  margin: 0 0 0 40px;
}

/*adicionando as bordas das opções dos menus*/
.bordermenu
{
  border-bottom-color: #e7e7e7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/*diminuido o excesso de espaçamento da classe nav, tornando as opções com menor espessura*/
.nav>li>a {
    padding: 2px 5px 2px 2px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #337ab7;

}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #23527c;
  background: #eeeeee;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
